{% extends 'home-page.html' %}
{% block content %}
    <!-- edit game form -->
    <section id="delete-page" class="auth">
        <form method="post">
            <div class="container">

                <h1>Delete Game</h1>
                {{ form }}
                {% csrf_token %}

                <input class="btn submit" type="submit" value="Delete Game">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
{% endblock %}