{% extends 'home-page.html' %}
{% block content %}

    <!-- details section -->
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="https://image.api.playstation.com/cdn/EP0001/CUSA04040_00/LRI3Rg5MKOi5AkefFaMcChNv5WitM7sz.png"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ game.title }} <span class="levels">Rating: 4.3</span></h1>
                <!-- game category -->
                <p><span class="type">Category: {{ game.category }}</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Max Level: {{ game.max_level }}</span></p>
            </div>
            <!-- game summary (if any)-->
            <p class="text">
                {{ game.summary }}
            </p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit-game' pk=game.id %}" class="button">Edit</a>
                <a href="{% url 'delete-game' pk=game.id %}" class="button">Delete</a>
            </div>
        </div>
    </section>
{% endblock %}